# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example

# dependencies
/node_modules

# next.js / opennext
/.next/
/.open-next/
/out/
next-env.d.ts
*.tsbuildinfo

# misc
.DS_Store
*.pem
npm-debug.log*
cloudflare-env.d.ts
DEVELOPER-NOTES.md
